/* Enhance Scrollbar */
::-webkit-scrollbar {  
    width: 9px;
    -webkit-appearance: none;  
}  
::-webkit-scrollbar-thumb {  
    border-radius: 4px;
    background: rgba(0,0,0,0.3);      
}

::-webkit-scrollbar-thumb:hover {  
    background: rgba(0,0,0,0.4);
}

@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot'); /* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff') format('woff'), /* chrome、firefox */
	url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.icon-jiantou:before { content: "\f001a"; }
body {
	font-family: tahoma,arial,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
	background-color: #f7f7f7;
	margin: 0 0;
	padding: 0 0;
}
.scene {
	float: right;
	width: calc(100% - 180px);
	height: calc(100% - 111px);
	background: #f9f9f9;
	display: table;
}
.scene-sec {
	display: table-cell;
	vertical-align: middle;
}
#canvas-wrapper {
	position: relative;
	margin: 0 auto;
	box-shadow: 0 4px 2px rgba(0, 0, 0, .2);
}
#layer-pointer {
	display: none;
	position: absolute;
	padding: 2px 4px;
	background: #f7f7f7;
	border: 1px solid #333;
	font-family: tahoma simsun;
	font-size: 12px;
	white-space: nowrap;
}
#current-layer {
	color: rgb(200, 0, 0);
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after{
	clear: both;
}
#sidebar {
	width: 180px;
	height: 100%;
	background: #fff;
	float: left;
	border-right: 1px solid #eee;
	overflow: auto;
}
#sidebar .iconfont {
	color: #333;
}
.bootstrap-colorpalette {
    white-space: normal;
    line-height:1;
}
.bootstrap-colorpalette div {
    line-height:0;
}
.bootstrap-colorpalette .btn-color {
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
    outline: none;
}
.bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}
.bootstrap-colorpalette .btn-color.current {
    border: 1px solid #000;
}
.color-title {
	color: #333;
	margin-left: 5px;
	margin-top: 5px;
}
.gb-color,
.ind-color {
	margin-left: 5px;
	margin-right: 10px;
}
.pantone-color {
	width: 119px;
	height: 204px;
	overflow: hidden;
	float: left;
	margin-left: 5px;
	margin-right: 10px;
}
#switch-color {
	width: 17px;
	float: left;
}
#tool-box {
	padding: 5px 5px;
}
.layer-list {
	padding: 5px 0;
	background: #eee;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.1) inset;
}
.layer-list li {
	margin-bottom: -1px;
}
.layer-list .layer {
	display: block;
	color: #333;
	background: #f7f7f7;
	padding: 5px 0;
	margin: 5px 5px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.1);
	border: 1px solid #fff;
	text-decoration: none;
}
.layer-list .layer.current,
.layer-list .layer:hover  {
	background: #85B0C6;
	color: #fff;
}
.sample-scene {
	padding: 0 5px;
}
.sample-scene li a {
	display: block;
	position: relative;
	margin-bottom: 5px;
}
.sample-scene img {
	opacity: .9;
}
.sample-scene img:hover {
	opacity: .7;
}
.sample-title {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #fff;
	background: rgba(0,0,0,.5);
	padding: 2px 6px;
	border-top-left-radius: 4px;
}
.curcolor {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 10px;
}
.bottom-bar {
	float: right;
	width: calc(100% - 180px);
	background: #fff;
	border-top: 1px solid #e7e7e7;
}
.color-match {
	float: left;
	width: 300px;
	height: 110px;
	padding: 10px 10px;
	background: #f7f7f7;
	border-right: 1px solid #e7e7e7;
}
.color-tab-advise {
	cursor: pointer;
	border-radius: 2px;
	padding: 0 4px;
	background: #d5d5d5;
}
.color-tab-advise:hover {
	background: #333;
	color: #fff;
}
.color-suggest,
.color-now,
.local-img {
	float: left;
	width: 200px;
	height: 110px;
	padding: 10px 10px;
	border-right: 1px solid #e7e7e7;
}
.more-sol {
	display: inline-block;
	float: right;
	color: #333;
	margin-left: 10px;
	transform: rotate(-90deg);
}
.more-sol:hover,
.more-sol:focus,
.hide-sol:hover,
.hide-sol:focus {
	color: #333;
	background: #e7e7e7;
	text-decoration: none;
}
.color-block {
	display: inline-block;
	width: 40px;
	height: 30px;
	margin: 2px 2px;
	background: #fff;
}
.more-block {
	position: absolute;
	bottom: 0;
	width: 200px;
	height: 300px;
	background: #f7f7f7;
	margin-left: -10px;
	padding: 10px 10px;
	border: 1px solid #e7e7e7;
	box-shadow: 0 -2px 6px 1px rgba(0,0,0,.1);
	overflow: auto;
	z-index: -1;
}
.more-block select {
	border-radius: 3px;
	padding: 2px 4px;
}
.more-block h5 {
	font-family: inherit;
}
.color-match .more-block {
	width: 300px;
}
.hide-sol {
	display: inline-block;
	float: right;
	color: #333;
	transform: rotate(90deg);
}
.color-square {
	display: inline-block;
	width: 40px;
	height: 40px;
}
.color-match .tool-box {
	float: left;
	width: 30%;
}
.button {
	color: #fff;
	background: #85B0C6;
	border: 1px solid #6B8B9B;
	box-shadow: 0 1px 0 rgba(255,255,255,.3) inset;
	border-radius: 2px;
	padding: 2px 4px;
	margin-bottom: 2px;
	outline: none;
}
.button:active {
	box-shadow: 0 1px 0 rgba(0,0,0,.1) inset;
}
.color-exh {
	float: left;
	width: 70%;
	height: 70px;
	overflow: auto;
}
.color-exh ul {
	margin-bottom: 0;
}
.color-exh li {
	padding: 0 0;
}
.modal-wrap {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(128, 128, 128, .5);
}
.modal-o {
	display: table-cell;
	vertical-align: middle;
}
.modal-i {
	width: 400px;
	height: 150px;
	margin: 0 auto;
	background: #f7f7f7;
	border-radius: 2px;
	border: 1px solid #e7e7e7;
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}
.modal-title {
	padding: 2px 6px;
}
.color-plan li {
	padding: 0 0;
	margin: 0 0;
}
.plan-href,
.suggest-href {
	display: block;
}
.plan-href:hover,
.suggest-href:hover {
	background: #e7e7e7;
}
.match-exh {
	padding: 5px 0;
}
.upload-local {
	position: relative;
	height: 30px;
	overflow: hidden;
}
.upload-local input {
	position: absolute;
	left: -80px;
	top: 0;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
.select-tool{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/tool.png) no-repeat 50% 50%;
	border: 1px solid #aaa;
}
.select-tool:active,
.select-tool.active {
	box-shadow: 0 1px 1px rgba(0,0,0,.2) inset;
}